.songSection {
    padding: 20px;
    background-color: #000;
    color: #fff;
  }

  .header {
    display: flex;
    flex-direction: start;
}


  .section {
    background-color: black;
    color: white;
}
  .tabs {
    margin-bottom: 20px;
    background-color: #000;
    color: white;
  }
  
  .tab {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    text-transform: none;
    padding: 10px 15px;
  }
  
  .tab.Mui-selected {
    color: #00FF00;
    border-bottom: 2px solid #00FF00;
  }