:root {
  --color-black: #000000; /* or any other shade of black you prefer */
}

.hero {
    background-color: var(--color-black);
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    color: white;
  }
  