.navbar {
    background-color: #1DB954;
    height: 74px;
    width: 100vw;
    padding: 0px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }